<%- include('partials/header'); -%>

<input class="toggler" type="checkbox" id="sepia" /><label for="sepia"></label>

<div class="main-content">
  <h1>404 - Il n'y a presque rien ici</h1>
  <blockquote>
    <p>
      Au piano, un air d'entre les deux guerres, nommé India Song. Il est joué
      tout entier et occupe ainsi le temps - toujours long - qu'il faut au
      spectateur, au lecteur, pour sortir de l'endroit commun où il se trouve
      quand commence le spectacle, la lecture. Encore India Song. Encore.
    </p>
    <footer>Marguerite Duras dans <i>India Song</i></footer>
  </blockquote>
  <p class="advice">
    Écoutez le texte d'India Song lu par Marguerite Duras pendant la résolution
    du challenge :
  </p>
  <div class="action">
    <a target="_blank" href="https://youtu.be/W01_bcE2anE"
      >India Song (via YouTube)</a
    >
  </div>
</div>
<div class="content">
  <div class="film">
    <div class="effect">
      <div class="grain"></div>
    </div>
  </div>
</div>

<%- include('partials/footer'); -%>
