<%- include('partials/header'); -%>

<input class="toggler" type="checkbox" id="sepia" /><label for="sepia"></label>

<div class="main-content">
  <h1>Chanson d'Inde</h1>
  <blockquote>
    <p>
      J'ai toujours réagi contre ce que l'on appelle la musique
      d'accompagnement, qui me semble tout à fait haïssable, qui est une façon
      déshonorante de servir de la musique. La musique qui annonce l'évènement :
      qui est terrible quand ça va être terrible, qui est dramatique quand un
      meutre va avoir lieu, qui est langoureuse quand on va se dire qu'on s'aime
      ou qu'on va s'embrasser sur la bouche etc...
    </p>
    <footer>Marguerite Duras</footer>
  </blockquote>
  <div class="action">
    <a href="/scene">Lancer la séance</a>
  </div>
</div>
<div class="content">
  <div class="film">
    <div class="effect">
      <div class="grain"></div>
    </div>
  </div>
</div>

<%- include('partials/footer'); -%>
